body{
    background-color: gray;
    position: relative;
}

/* Large screens */
@media only screen and (min-width: 768px) and (max-width: 960px) {
#one{
        width: 960px;
        height: 100px;
        /* position: absolute; */
        /* top: 0%;
        left: 0%; */
        background-color: yellow;
        text-align: center;
    }
  
   
  }